<div class="padding">




  <super-navigate view-id="rekrytering">
    <button class="button button-block button-positive button-large icon-left super-person-add">Rekrytering</button>
  </super-navigate>

  <super-navigate view-id="index">
    <button class="button button-block button-positive button-large icon-left super-chatbox-working">Intervju</button>
  </super-navigate>

  <super-navigate view-id="index">
    <button class="button button-block button-positive button-large icon-left super-information-circled">Introduktion till nyanställda</button>
  </super-navigate>


   <super-navigate view-id="index">
    <button class="button button-block button-positive button-large icon-left super-android-book">Personalhandbok</button>
  </super-navigate>



</div>