<div class="padding">




  <super-navigate view-id="attrahera">
    <button class="button button-block button-positive button-large icon-left super-log-in">Attrahera</button>
  </super-navigate>

  <super-navigate view-id="index">
    <button class="button button-block button-positive button-large icon-left super-arrow-graph-up-right">Utveckla</button>
  </super-navigate>

  <super-navigate view-id="index">
    <button class="button button-block button-positive button-large icon-left super-log-out">Avveckla</button>
  </super-navigate>


</div>