<div class="padding">




<div class="card item-text-wrap">
  <div class="item item-divider">
    Om ni har en Personalavdelningen på arbetsplatsen kontakta den för avstämning. Generella tips att tänka på inför en rekrytering:
  </div>
  </div>

<div class="card">
  <div class="item item-text-wrap">
    En rekryteringsprocess kan ta upp till ca 3 månader, därtill tillkommer oftast slutkandidatens uppsägningstid (ca 1-6 månader).
  </div>
  <div class="item item-text-wrap">
    En rekryteringsprocess består av många kritiska moment att hantera.
  </div>
  <div class="item item-text-wrap">
    En felaktig rekrytering är mycket dyrbar. 
  </div>
  <div class="item item-text-wrap">
    En rekrytering är ett kommunikationstillfälle till marknaden som behöver hanteras väl (kommunikation med och återkoppling till kandidater, annonstext och val av annonstext/annonseringskanaler för att ge optimal effekt för att nå rätt målgrupp och signalera rätt saker till sin kundgrupp).
  </div>

</div>



</div>