<div class="padding">




<div class="card item-text-wrap">
  <div class="item item-divider">
    Här kommer några generella tips:
    </div>
  </div>

<div class="card">
  <div class="item item-text-wrap">
    Tänk på att inte bara den tänkbara kandidaten läser annonser utan även andra utanför målgruppen läser annonser och tipsar till sina nätverk.
  </div>
<div class="item item-text-wrap">
    Upprepade annonstillfällen ger större effekt, d v s fler antal sökanden.
  </div>
  <div class="item item-text-wrap">
      Välj mellan dagstidning och fackpress (inklusive nätannonsering via samma kanaler).  
  </div>

  <div class="item item-text-wrap">
    Ansökningstiden bör vara ca 14-21 dagar (inte för kort och inte för lång). De flesta skriver och skickar in sina ansökningar i slutet av en ansökningsperiod.
  </div>

  <div class="item item-divider item-text-wrap">
      Komplexiteten i att skriva en annonstext beror bland annat på:
  </div>

  <div class="item item-text-wrap">
    Typ av roll.
  </div>
  <div class="item item-text-wrap">
    Målgrupp.
  </div>
  <div class="item item-text-wrap">
    Geografisk placering
  </div>

<div class="item item-text-wrap">
    Antal aktuella tjänster
  </div>
  <div class="item item-text-wrap">
    Typ av annonsplats (facktidning/dagstidning/nätannons).
  </div>
  <div class="item item-text-wrap">
    Storlek på annons
  </div>
</div>



</div>