<div class="padding">




  <div class="list card">
  <div class="item item-divider item-text-wrap">
    Det finns olika skäl till att ni svarar Nej. Här är några exempel:
  </div>
  <div class="item item-text-wrap">
    

Det kan vara en pågående dialog med en person som behöver ersättas av olika skäl men det kan vara för tidigt att kommunicera situationen i och utanför organisationen. Av tidsskäl så bör rekryteringen påbörjas omgående/snarast.

Det kan vara känsligt att vara tydlig mot marknaden att en rekrytering ska ske på grund av konkurrens- och/eller kundrelationsskäl.

  </div>
  <div class="item item-divider item-text-wrap">
	Vadkan ni göra om svaret är Nej? Vilka åtgärder kan vidtas? </div>
  <div class="item item-text-wrap">
     

<div class="item item-text-wrap">
Kontakta er Personalavdelning för avstämning/stöd.
</div>

<div class="item item-text-wrap">
Ta hjälp av ett rekryteringsföretag för en searchprocess där endast riktade kontakter tas i relevanta nätverk (men ej annonsering).
</div>

<div class="item item-text-wrap">
Om ni behöver stöd kontakta Insight Consulting på: <a href="mailto:akademssr@insightcon.se">akademssr@insightcon.se </a> eller 0730-25 70 59.</div>


 
  

</div>