<div class="padding">




  <div class="list card">
  <div class="item item-divider item-text-wrap">
    Om ni kan svara JA på att ni kan vara öppna med att rekryteringen ska genomföras, både internt och externt, då kan ni välja bland de olika rekryteringskanaler som finns att tillgå:
  </div>
  <div class="item item-text-wrap">
    Intern annonsering, informationsspridning och mottagande av tips på kandidater.
  </div>
  <div class="item item-text-wrap">
	Extern annonsering.  </div>
  <div class="item item-text-wrap">
     Bearbetning av nätverk.
  </div>
  <div class="item item-text-wrap">
    Extern hjälp av rekryteringsföretag.
  </div>
  
 
  

</div>