<div class="padding">




  <div class="list card">
  <div class="item item-divider item-text-wrap">
	Ni har svarat nej, ni har följande alternativ till lösning  </div>
  <div class="item item-text-wrap">
    

Ta stöd och hjälp av er Personalavdelning.

  </div>
  <div class="item item-text-wrap">
	Anlita ett externt rekryteringsföretag. </div>
  <div class="item item-text-wrap">
    

<div class="item item-text-wrap">
Om ni behöver stöd kontakta Insight Consulting på: <a href="mailto:akademssr@insightcon.se">akademssr@insightcon.se </a> eller 0730-25 70 59.</div>


 
  

</div>