<div class="padding">


<h3>Här följer fem frågor som du bör ha svar på i samband med rekrytering:</h3>
<hr>

  

<h3 align=center>Fråga 1</h3>

<h4>Kan du vara öppen mot marknaden och/eller internt med att rekryteringsbehovet finns?</h4>


  <super-navigate view-id="rekr_ja1">
    <button class="button button-block button-balanced">Ja</button>
  </super-navigate>



   <super-navigate location="example#rekr_nej1">  <button class="button button-block button-assertive">Nej</button>
   </super-navigate>

   
  

</div>