<div class="padding">


<h3>Här följer fem frågor som du bör ha svar på i samband med rekrytering:</h3>


  <super-navigate location="example#rekr1">
    <button class="button button-block button-large button-positive super-chevron-right icon-right">1. Rekryteringsbehov</button>
  </super-navigate>
  <super-navigate location="example#rekr2">
    <button class="button button-block button-large button-positive super-chevron-right icon-right">2. Tid och kompetens</button>
  </super-navigate>
  <super-navigate location="example#rekr3">
    <button class="button button-block button-large button-positive super-chevron-right icon-right">3. Annonsera</button>
  </super-navigate>
  <super-navigate view-id="rekr_ja1">
    <button class="button button-block button-large button-positive super-chevron-right icon-right">4. Intervju</button>
  </super-navigate>
  <super-navigate view-id="rekr_ja1">
    <button class="button button-block button-large button-positive super-chevron-right icon-right">5. Kandidatbedömning</button>
  </super-navigate>
   
  

</div>